style.
  table, tr, th, td {
    border: 1px solid black;
    }
body
  h1 Transactions Libary

  form(action="/route")

    button Back

  form(action="/transaction/search", method="GET")

    input(type="text", name= "q")

    button Search ID     

  form(action="/transaction/create", method="POST")
    label Users:
    span &nbsp
    select(name='user')
      each user in users
        option(value= user.userId) #{user.name}
    span &nbsp  

    label Books:
    span &nbsp
    select(name='book')
      each book in books
        option(value= book.bookId) #{book.title}  
      span &nbsp
    button(type="submit") Add

  table(style='width:100%')
    tr
      th ID
      th User
      th Book
    each transaction in transactions
      tr
        td= transaction.transactionId
        td= transaction.userId
        td= transaction.bookId
    