style.
  table, tr, th, td {
    border: 1px solid black;
    }
body
  h1 Transactions Libary

  form(action="/transaction/create")

    button Add User

  form(action="/route")

    button Back

  form(action="/transaction/search", method="GET")

    input(type="text", name= "q")

    button Search     

  form(action="/transaction/create", method="POST")
    label Users:
    span &nbsp
    select(name='user')
      each user in users
        option(value= user.userID) #{user.name}
      span &nbsp  

    label Books:
    span &nbsp
    select(name='book')
      each book in books
        option(value= book.bookID) #{book.title}  
      span &nbsp
    button Add

  table
    tr
      th ID
      th User
      th Book
    each transaction in transactions
      tr
        td= transaction.transactionID
        td= transaction.user
        td= transaction.book
    